<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Polygon Loader</title>
</head>
<body>
    @RenderBody()

    @RenderSection("Style", required: false)
</body>
</html>
